body {
  background: #E5E5E5;
}
*,
::before,
::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.game-wrapper {
  max-width: 600px;
  margin: auto;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.button {
  background-color: #3F95E5;
  border: none;
  outline: none;
  padding: 7px 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  transition: all .3s;
}

.button:hover {
  background: #2D6AA3;
}

.button-wrapper > .button:not(:nth-child(2)):hover {
  background: #2D6AA3;
}

.level-button-active {
  background: #2D6AA3;
}

.button:not(:last-child) {
  margin-right: 10px;
}

.stop-button {
  background: #666666;
}

.stop-button:hover {
  background: #9C9C9C;
}

.game-count {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  margin: auto;
  padding-bottom: 20px;
  color: #3F95E5;
}

.game-field {
  position: relative;
  width: 0;
  height: 0;
  margin: auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  background: #E5E5E5;
  border-radius: 10px;
  transition: all .4s ease-in;
  overflow: hidden;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  color: #3F95E5;
  border: 1px solid #3F95E5;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: background .3s;
  cursor: pointer;
}

.cell:hover {
  background: #87E1FF;
}


.frame {
  text-align: center;
  padding: 20px 0;
  color: #3F95E5;
  font-weight: 700;
}

.level-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .cell {
    width: 45px;
    height: 45px;
  }
}