@import '~normalize.css';

* {
  box-sizing: border-box;
}

.game-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  max-width: 600px;
  margin: auto;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.button {
  background-color: #3F95E5;
  border: none;
  outline: none;
  padding: 7px 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.button:not(:last-child) {
  margin-right: 20px;
}

.stop-button {
  background-color: gray;
}

.game-count {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  width: 400px;
  margin: auto;
  padding-bottom: 20px;
  color: #3F95E5;
}

.game-field {
  width: 400px;
  height: 0;
  margin: auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  background: #E5E5E5;
  border: 1px solid #3F95E5;
  transition: all .4s ease-in;
  overflow-y: hidden;
}

.show-game {
  height: 400px;
}

.frame {
  text-align: center;
  padding: 20px 0;
  color: #3F95E5;
  font-weight: 700;
}

.level-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}