body {
  background: #18181A;
}

*,
::before,
::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.game-wrapper {
  max-width: 600px;
  margin: auto;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.button {
  display: flex;
  justify-content: center;
  background-color: #232327;
  border: none;
  outline: none;
  padding: 7px 10px;
  border-radius: 5px;
  color: #3f95e5;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  transition: all .3s;
  border: 1px solid #3f95e5;
}

.ch-color {
  animation: ch-color .3s 4;
}

.button:hover {
  background: #2D6AA3;
}

.button-wrapper > .button:not(:nth-child(2)):hover {
  background: #2D6AA3;
}

.level-button-active {
  background: #2D6AA3;
}

.pause-button {
  background: #232327;
  width: 54px;
}

.pause-button-active {
  background: #233295;
  border: none;
}

.pause-button:hover {
  background: #9C9C9C;
}

.game-count {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  margin: auto;
  padding-bottom: 20px;
  color: #3F95E5;
}

.game-field {
  position: relative;
  width: 100%;
  height: 0;
  margin: auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  background: #232327;
  border-radius: 10px;
  transition: all .4s ease-in;
  overflow: hidden;
}

.blur {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 26px;
  font-style: italic;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
  left: 100%;
  transition: left .4s;
  border-radius: 10px;
  z-index: 2;
  color: #3FC6E5;
}

.blur-active {
  left: 0;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  color: #3F95E5;
  border: 1px solid #3F95E5;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: left .3s, top .3s, background .3s;
}

.cell:hover {
  background: #2D6AA3;
}

.frame {
  text-align: center;
  padding: 20px 0;
  color: #3F95E5;
  font-weight: 700;
}

.level-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 350px;
  margin: auto;
}

.game-field-active-level-one {
  width: calc(65px * 3 + 5px);
  height: calc(65px * 3 + 5px);
}

.game-field-active-level-two {
  width: calc(65px * 4 + 5px);
  height: calc(65px * 4 + 5px);
}

.game-field-active-level-three {
  width: calc(65px * 5 + 5px);
  height: calc(65px * 5 + 5px);
}

.game-field-active-level-four {
  width: calc(65px * 6 + 5px);
  height: calc(65px * 6 + 5px);
}

.game-field-active-level-five {
  width: calc(65px * 7 + 5px);
  height: calc(65px * 7 + 5px);
}

.game-field-active-level-six {
  width: calc(65px * 8 + 5px);
  height: calc(65px * 8 + 5px);
}

@media screen and (max-width: 420px) {
  .button-wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }

  .pause-button {
    grid-area: 2/1/3/2;
    width: 100%;
  }

  .cell {
    width: 40px;
    height: 40px;
  }

  .game-field-active-level-one {
    width: calc(45px * 3 + 5px);
    height: calc(45px * 3 + 5px);
  }

  .game-field-active-level-two {
    width: calc(45px * 4 + 5px);
    height: calc(45px * 4 + 5px);
  }

  .game-field-active-level-three {
    width: calc(45px * 5 + 5px);
    height: calc(45px * 5 + 5px);
  }

  .game-field-active-level-four {
    width: calc(45px * 6 + 5px);
    height: calc(45px * 6 + 5px);
  }

  .game-field-active-level-five {
    width: calc(45px * 7 + 5px);
    height: calc(45px * 7 + 5px);
  }

  .game-field-active-level-six {
    width: calc(45px * 8 + 5px);
    height: calc(45px * 8 + 5px);
  }

  .level-buttons {
    display: grid;
    grid-template-columns: repeat(3, .8fr);
    grid-gap: 5px;
  }
}

@keyframes ch-color {
  from {
    background: #232327;
  }

  50% {
    background: #2D6AA3;
  }

  to {
    background: #232327;
  }
}